spring:
  application:
    name: MsExamen

  datasource:
    url: jdbc:postgresql://localhost:5455/examendb
    username: postgres
    password: 'admin123'
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: 192.168.1.75:9092
    consumer:
      group-id: grupo-ms-b
      auto-offset-reset: earliest


server:
  port: 8080
  servlet:
    context-path: /msexamen/api/v1

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html