services:
  # ==========================================
  # 1. BASE DE DATOS
  # ==========================================
  postgres-db:
    image: postgres:15
    container_name: db-biblioteca
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: UNU2025
      POSTGRES_DB: db_biblioteca
    ports:
      # Puerto PC (5435) : Puerto Contenedor (5432)
      - "5435:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - TDUNU2025
    healthcheck:
      # Actualizado para verificar con el usuario 'postgres'
      test: ["CMD-SHELL", "pg_isready -U postgres -d db_biblioteca"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ==========================================
  # 2. APP SPRING BOOT
  # ==========================================
  ms-biblioteca:
    build: .
    container_name: ms-biblioteca
    restart: on-failure
    ports:
      - "8080:8080"
    environment:
      # IMPORTANTE: Dentro de la red Docker, la BD escucha en el 5432 (no en el 5435)
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/db_biblioteca
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=UNU2025
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      postgres-db:
        condition: service_healthy
    networks:
      - TDUNU2025

volumes:
  postgres-data:

networks:
  TDUNU2025:
    driver: bridge