version: '3.8'

services:
  # ==========================================
  # 1. SERVICIO DE BASE DE DATOS (PostgreSQL)
  # ==========================================
  postgres-db:
    image: postgres:15
    container_name: db-biblioteca
    restart: always
    environment:
      POSTGRES_USER: usuario_biblio
      POSTGRES_PASSWORD: password_biblio
      POSTGRES_DB: db_biblioteca
    ports:
      - "5432:5432"
    volumes:
      # Persistencia de datos: Si apagas el contenedor, los datos no se borran.
      - postgres-data:/var/lib/postgresql/data
    networks:
      - biblioteca-net

  # ==========================================
  # 2. SERVICIO DE APLICACIÓN (Spring Boot)
  # ==========================================
  ms-biblioteca:
    build: .             # Construye la imagen usando el Dockerfile en la raíz (.)
    container_name: ms-biblioteca
    restart: on-failure  # Reinicia si falla (útil si la BD tarda en subir)
    ports:
      - "8080:8080"      # Expone el puerto 8080
    environment:
      # Activa el perfil 'docker' que configuramos en application.yml
      # Esto hace que la app busque a 'postgres-db' en lugar de 'localhost'
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATASOURCE_USERNAME=usuario_biblio
      - SPRING_DATASOURCE_PASSWORD=password_biblio
    depends_on:
      - postgres-db      # Espera a que inicie el contenedor de BD antes de iniciar este
    networks:
      - biblioteca-net

# ==========================================
# VOLÚMENES Y REDES
# ==========================================
volumes:
  postgres-data:

networks:
  biblioteca-net:
    driver: bridge