server: 
  port: 9091
spring:
  application:
    name: ms-simulacro
  datasource:
  // POSTGRESQL
    url: jdbc:postgresql://localhost:5484/ms-simulacro
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        